@import '../variables';

.botTop {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;

  svg {
    width: 100%;
    height: 30px;
    margin: 20px 0%;
  }
}
.botMain {
  padding: 20px 0;
  background-color: $blue;

  .links {
    margin-left: 53%;
    display: flex;
    justify-content: right;
    text-align: right;
    position: relative;
    right: 0%;
    bottom: 0%;
    ul {
      position: relative;
      right: 0%;
      bottom: 0%;
    }
  }
  a {
    font-size: large;
    font-weight: bold;
    color: white;
    &:hover {
      color: yellow;
    }
  }
}
