@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 0px 0;

  .headerTop {
    .dropdown-item {
      z-index: 8000;
    }
    z-index: 8;
    .login {
      text-decoration: none;
      color: $blue;
      fill: $blue;
    }
    .choosed {
      color: $blue;
    }
  }

  .headerMain {
    padding: 10px 0;
    background-color: $blue;
    font-size: 18px;
    a {
      color: white;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: yellow;
      }
    }
  }
}
