@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 0px 0;

  .headerTop {
    .dropdown-item {
      z-index: 8000;
    }
    z-index: 8;
    .login {
      text-decoration: none;
      color: $blue;
      fill: $blue;
    }
    .choosed {
      color: $blue;
    }
  }

  .headerMain {
    padding: 10px 0;
    background-color: $blue;
    font-size: 18px;
    a {
      color: white;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: yellow;
      }
    }
  }
  .headerSub {
    background-color: white;
    .logo {
      z-index: 0;
      font-size: 24px;
      text-decoration: none;
      color: $blue;
      font-weight: bold;
    }
    .myBut {
      font-size: 18px;
      text-decoration: none;
      color: white;
      border: 1px solid $blue;
      padding: 10px 20px;
      border-radius: 30px;
      background-color: $blue;
      transition: 0.5s;
      &:hover {
        background-color: white;
        color: $blue;
      }
    }
    .search {
      font-size: 18px;
      color: white;
      border: 1px solid $blue;
      padding: 10px 20px;
      border-radius: 0px 30px 30px 0px;
      background-color: $blue;
      transition: 0.3s;
      &:hover {
        background-color: white;
        color: $blue;
      }
      &:active {
        border: 1px solid $blue;
        background-color: white;
        color: white;
      }
    }
    input {
      display: block;
      width: 150%;
      box-sizing: border-box;
      border: 1px solid $blue;
      border-radius: 30px 0px 0px 30px;
      transition: border-color 1s ease-in-out, box-shadow 0s ease-in-out;
      &:focus {
        box-shadow: 0px 0px 0px;
        border: 1px solid $blue;
      }
    }
  }
}
