@import '../variables';

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-weight: bold;
  }
}
.login-box {
  box-shadow: 0px 0px 20px #b6b6b6;
  width: 40%;
  padding: 50px 20px !important;
  form {
    margin-top: 50px;
    position: relative;
    width: 100%;
    .input-box {
      margin-top: 10px;
      position: relative;
      height: 50px;
      border-bottom: 2px solid $blue;
      input {
        border: none;
        border-radius: 0;
        position: absolute;
        bottom: 0%;
        height: 70%;
        padding: 0%;
        width: 80%;
      }

      label {
        position: absolute;
        left: 5px;
        top: 40%;
        transition: 0.5s;
        color: $blue;
      }
      .icon {
        position: absolute;
        right: 5px;
        top: 30%;
        fill: $blue;
      }
    }
    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
      top: -5px;
    }
  }
}

.rememberMe {
  position: relative;
  margin: 50px 50px 0 50px;
  .checkbox {
    display: unset !important;
    width: auto !important;
    margin-right: 10px;
    accent-color: $blue;
    content: '✓';
  }
  a {
    position: absolute;
    right: 0%;
    text-decoration: none;
    color: $blue;
    &:hover {
      color: $blue !important;
      border-bottom: 1px solid $blue !important;
    }
  }
}

.autorizate {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.registerlink {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      color: $blue !important;
      border-bottom: 1px solid $blue !important;
    }
  }
}
