@import '../variables';

.stock_cards {
  .card {
    padding-top: 7px !important;
    a {
      text-decoration: none;
      color: black;
    }
    img {
      width: 100%;
      border-radius: 14px;
      transform: scale(1.1);
      margin-top: 0;
      margin-bottom: 10px;
      transition: 0.5s;
      &:hover {
        transform: scale(1);
      }
    }
  }
}
