@import './_variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: $background !important;
}

.wrapper {
  margin-top: 20px;
  .adForCum {
    border-radius: 20px;
    display: flex;
    height: 400px;
    position: relative;
    right: 0%;
  }
  .card {
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
}
